################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dapr.Grpc.Server/obj
/Dapr.Grpc.Server/bin/Debug/net6.0
